// adapted from https://webflow.com/blog/3-new-larger-breakpoints-in-webflow
// x & below (max-width)
$breakpoints-mobile: 480px;
$breakpoints-tablet: 768px;
$breakpoints-laptop: 1024px;
// Don't use yet. also, would conflict with $breakpoints-laptop
// $breakpoints-largeTablet: 991px;
$breakpoints-xs: 380px;
$breakpoints-sm: 520px;
$breakpoints-md: 555px;
$breakpoints-lg: 680px;
$breakpoints-xl: 880px;
$breakpoints-xxl: 1100px;
$breakpoints-xxxl: 1350px;

// x & up (min-width)
$breakpoints-lgDesktop: 1280px;
$breakpoints-xlDesktop: 1440px;
$breakpoints-xxlDesktop: 1920px;

// Breakpoints Mixins
// These mixins allow for cleaner and more maintainable media queries in SCSS files.

// Mobile Devices
// Use this mixin for styles specific to mobile devices.
@mixin mobile {
  @media (max-width: $breakpoints-mobile) {
    @content;
  }
}

// Tablet Devices
// Use this mixin for styles specific to tablet devices.
@mixin tablet {
  @media (max-width: $breakpoints-tablet) {
    @content;
  }
}

// Desktop Devices
// Use this mixin for styles specific to desktop devices.
@mixin desktop {
  @media (max-width: $breakpoints-desktop) {
    @content;
  }
}

@mixin lgDesktop {
  @media (min-width: $breakpoints-lgDesktop) {
    @content;
  }
}

@mixin xlDesktop {
  @media (min-width: $breakpoints-xlDesktop) {
    @content;
  }
}

@mixin xxlDesktop {
  @media (min-width: $breakpoints-xxlDesktop) {
    @content;
  }
}

// Extra Small Devices
@mixin xs {
  @media (max-width: $breakpoints-xs) {
    @content;
  }
}

// Small Devices
@mixin sm {
  @media (max-width: $breakpoints-sm) {
    @content;
  }
}

// Medium Devices
@mixin md {
  @media (max-width: $breakpoints-md) {
    @content;
  }
}

// Large Devices
@mixin lg {
  @media (max-width: $breakpoints-lg) {
    @content;
  }
}

// Extra Large Devices
@mixin xl {
  @media (max-width: $breakpoints-xl) {
    @content;
  }
}

// Extra Extra Large Devices
@mixin xxl {
  @media (max-width: $breakpoints-xxl) {
    @content;
  }
}

// Extra Extra Extra Large Devices
@mixin xxxl {
  @media (max-width: $breakpoints-xxxl) {
    @content;
  }
}
