@use "../../../styles/partials/mixins";

.nav {
  height: 74px;
  width: 100%;
  position: sticky;
  background-color: #1a1b1d;
  box-shadow: 0 2px 16px 8px rgb(0 0 0 / 20%);
  transition: all 300ms ease;

  &:hover {
    box-shadow: 0 2px 16px 8px rgb(0 0 0 / 40%);
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    width: 350px;
    height: 100%;
    list-style-type: none;

    @include mixins.tablet {
      &:first-of-type {
        max-width: 280px;
      }
    }

    @include mixins.mobile {
      display: none;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-left: 8px;
    transition: all 300ms ease;
    cursor: pointer;
    font-size: 17px;

    &:hover {
      color: #ff9500;
    }

    & > svg {
      margin-right: 4px;
    }
  }

  &__mobileMenuIcon {
    display: none;

    @include mixins.mobile {
      display: block;
    }
  }

  @include mixins.mobile {
    padding-right: 12px;
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
  width: 90%;
  height: 100%;

  &__logo {
    position: relative;
    width: 120px;
    height: 74px;
  }
}

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root:hover {
  background-color: #ff9500;
}

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root > svg,
.MuiMenuItem-root > svg {
  color: white !important;
}

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root.Mui-selected:hover,
.Mui-selected:hover {
  background-color: #ff9500;
}

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root.Mui-selected,
.Mui-selected {
  background-color: #ff950094 !important;
}

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root.Mui-selected:hover,
.Mui-selected:hover {
  background-color: #ff9500d8;
}

.menu_item:hover {
  background-color: #ff9500;
}

.snackbar {
  background-color: green;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
