.search {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85%;
  max-width: 1100px;
  height: 72px;
}

.input {
  background: #222531;
  color: #e2e2e2;
  border: none;
  padding: 16px;
  border-radius: 4px;
  outline: none;
  height: 100%;
  width: 100%;
  font-size: 18px;
}

.input::placeholder {
  color: #fff;
}
