.container {
  width: 100vw;
  min-height: calc(100vh - 90px);
  height: calc(100vh - 90px);
  /* height: fit-content; */
}

.row {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  align-items: flex-start;
}

.row > hr { 
  display: inline-block;
  width: 1px;
  height: calc(100vh - 130px);
  margin: 24px 0 0 0;
  border-color: #ff9500;
}

.coin_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  height: calc(100vh - 159px);
  padding: 0 24px;
  width: 30%;
  color: white;
  margin: auto 0;
  background-color: rgba(0, 0, 0, 0.377);
  box-shadow: 0 4px 12px 0px rgba(0, 0, 0, 0.3);
  /* border-bottom: 3px solid rgba(0, 0, 0, 0.08); */
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 400px; */
}

.title_wrapper {
  display: flex;
  flex-direction: column ;
  align-items: center;
  justify-content: center;
}

.image > img {
  height: 50px;
}

.description {
  width: 100%;
  text-align: center;
  margin-bottom: 12px;
}

.name {
  margin: 16px 0 0 0;
}

.symbol {
  margin: 0;
}

.ticker {
  margin-bottom: 1rem;
}

.current {
  margin-bottom: 1rem;
  font-size: 2rem;
}

.info_card {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* padding: 16px; */
  /* border-radius: 8px; */
  /* background-color: rgba(0, 0, 0, 0.377);
  box-shadow: 0 4px 12px 0px rgba(0, 0, 0, 0.3); */
}

.info_row {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin-top: 16px;
}

.info_row > h3, .info_row > p {
  text-align: center;
  margin: 0;
  width: 100%;
}

.info_row > h3 {
  margin-right: 16px;
  font-size: 16px;
}

.info_row > p {
  font-size: 16px;
}

.chart_wrapper {
  width: 60%;
  /* max-height: 100vh; */
  height: calc(100vh - 160px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto 0;
}

.chart_card {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 24px 12px 24px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.377);
  box-shadow: 0 4px 12px 0px rgba(0, 0, 0, 0.3);
}

.chart {
  width: 100%;
}

.chart_buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.chart_buttons > button {
  width: 180px;
  padding: 12px 8px;
  border: 3px solid #ff9500;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  background-color: transparent;
  transition: all 300ms ease;
}
.chart_buttons > button:active {
  transform: scale(0.95);
}

.selected_button {
  border: 3px solid white !important;
  background-color: #ff9500 !important;
}

.chart_buttons > button:hover {
  border: 3px solid white;
  background-color: #ff9500;
}

.chart_details {
  background-color: rgba(0, 0, 0, 0.377);
  border-radius: 8px;
  margin-top: 32px;
  padding: 24px 0;
  width: 100%;
  box-shadow: 0 4px 12px 0px rgba(0, 0, 0, 0.3);
}

.chart_details > div {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  color: whitesmoke;
  display: flex;
  justify-content: center;
}

.chart_details > div > p {
  margin: .25rem;
  width: 40%;
  text-align: center;
}

.percentage_details {
  width: 100%;
  margin-top: 32px;
}

.percentage_details > h3 {
  text-align: center;
  color: white;
  padding-bottom: 16px;
}

.cards_wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.cards_wrapper > div {
  border: 3px solid black;
  background-color: black;
  border-radius: 6px;
  width: 180px;
  text-align: center;
  transition: all 300ms ease;
  box-shadow: 0 4px 12px 0px rgba(0, 0, 0, 0.4);
  height: 97px;
}

.cards_wrapper > div:hover {
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.6);
}

.card_description {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.card_description > p {
  margin: 0;
  color: white;
  transition: all 300ms ease;
}

.card_description > h3 {
  margin: 0;
  font-size: 28px;
}

.selected_card {
  border: 3px solid #fff !important;
  background-color: #ff9500 !important;
  
}

.selected_card > div > p {
  font-weight: bold;
  color: white;
}

.selected_period {
  background-color: rgb(39, 39, 39);
}

.selected_period > p:first-child {
  color: white;
}

.green {
  color: #358a24;
}

.red {
  color: #f00606;
}
