.container {
  display: flex;
  justify-content: center;
  height: 75vh;
  align-items: center;
  min-height: 100vh;
  /* min-height: calc(100vh - 98px); */
}

.coin_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #2fffe5;
  border-radius: 10px;
  padding: 4rem;
  width: 400px;
}

.image {
  margin-bottom: 1rem;
}

.name {
  margin-bottom: 1rem;
}

.ticker {
  margin-bottom: 1rem;
}

.current {
  margin-bottom: 1rem;
  font-size: 2rem;
}