@use "./animations" as *;

// Shimmer Effect
// This mixin creates a shimmer effect animation that can be applied to loading skeletons or placeholders.
@mixin shimmer-effect {
  position: relative;
  overflow: hidden;
  background-color: var(--colors-default-gray);
  background-image: linear-gradient(
    90deg,
    var(--colors-default-gray) 0px,
    var(--colors-default-light-gray) 50%,
    var(--colors-default-gray) 100%
  );
  background-size: 200% 100%; // Ensures the gradient covers the full component
  animation: shimmer 1.5s infinite linear;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0,
      rgba(255, 255, 255, 0.8) 50%,
      rgba(255, 255, 255, 0) 100%
    );
    animation: shimmer 1.5s infinite linear;
  }
}

// Remove Default Button Styles
// This mixin strips away browser default styling from <button> elements.
@mixin removeDefaultButtonStyles {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer; // Maintains the pointer to indicate it's clickable but removes other default styles.
  display: flex;
  align-items: center;
  justify-content: center;

  &:focus {
    outline: none; // Remove the default focus outline if needed, otherwise, remove this line to keep default focus.
  }
}

$breakpoints-mobile: 480px;
$breakpoints-tablet: 768px;
$breakpoints-desktop: 1024px;
$breakpoints-largeDesktop: 1280px;
$breakpoints-xs: 380px;
$breakpoints-sm: 520px;
$breakpoints-md: 555px;
$breakpoints-lg: 680px;
$breakpoints-xl: 1040px;
$breakpoints-xxl: 1250px;

// Breakpoints Mixins
// These mixins allow for cleaner and more maintainable media queries in SCSS files.

// Mobile Devices
// Use this mixin for styles specific to mobile devices.
@mixin mobile {
  @media (max-width: $breakpoints-mobile) {
    @content;
  }
}

// Tablet Devices
// Use this mixin for styles specific to tablet devices.
@mixin tablet {
  @media (max-width: $breakpoints-tablet) {
    @content;
  }
}

// Desktop Devices
// Use this mixin for styles specific to desktop devices.
@mixin desktop {
  @media (max-width: $breakpoints-desktop) {
    @content;
  }
}

// Large Desktop Devices
// Use this mixin for styles specific to large desktop devices.
@mixin largeDesktop {
  @media (max-width: $breakpoints-largeDesktop) {
    @content;
  }
}

// Extra Small Devices
@mixin xs {
  @media (max-width: $breakpoints-xs) {
    @content;
  }
}

// Small Devices
@mixin sm {
  @media (max-width: $breakpoints-sm) {
    @content;
  }
}

// Medium Devices
@mixin md {
  @media (max-width: $breakpoints-md) {
    @content;
  }
}

// Large Devices
@mixin lg {
  @media (max-width: $breakpoints-lg) {
    @content;
  }
}

// Extra Large Devices
@mixin xl {
  @media (max-width: $breakpoints-xl) {
    @content;
  }
}

// Extra Extra Large Devices
@mixin xxl {
  @media (max-width: $breakpoints-xxl) {
    @content;
  }
}
