:root {
// ColorBank
  --color-bank-primary: #ff9500;
  --color-bank-primary-dark: #ff9500;
  --color-bank-primary-foreground: 210 40% 98%;
  --color-bank-primary-foreground-dark: 222.2 47.4% 11.2%;
  --color-bank-secondary: 210 40% 96.1%;
  --color-bank-secondary-dark: 217.2 32.6% 17.5%;
  --color-bank-secondary-foreground: 222.2 47.4% 11.2%;
  --color-bank-secondary-foreground-dark: 210 40% 98%;
  --color-bank-accent: 210 40% 96.1%;
  --color-bank-accent-dark: 217.2 32.6% 17.5%;
  --color-bank-accent-foreground: 222.2 47.4% 11.2%;
  --color-bank-accent-foreground-dark: 210 40% 98%;
  --color-bank-background: #1a1b1d;
  --color-bank-background-dark: #1a1b1d;
  --color-bank-foreground: 222.2 84% 4.9%;
  --color-bank-foreground-dark: 210 40% 98%;
  --color-bank-font-text-primary: #fff;
  --color-bank-font-text-primary-dark: #f8f9fa;
  --color-bank-font-text-secondary: #ccc;
  --color-bank-font-text-secondary-dark: #fff;
  --color-bank-link-hover: #535bf2;
  --color-bank-link-hover-dark: #cccccc;
  --color-bank-link-active: #4b4fe2;
  --color-bank-link-active-dark: #3a3fe2;
  --color-bank-card-background: rgba(0, 0, 0, 0.377);
  --color-bank-card-background-dark: rgba(0, 0, 0, 0.377);
  --color-bank-card-foreground: 222.2 84% 4.9%;
  --color-bank-card-foreground-dark: 210 40% 98%;
  --color-bank-popover: 0 0% 100%;
  --color-bank-popover-dark: 222.2 84% 4.9%;
  --color-bank-popover-foreground: 222.2 84% 4.9%;
  --color-bank-popover-foreground-dark: 210 40% 98%;
  --color-bank-muted: 210 40% 96.1%;
  --color-bank-muted-dark: 217.2 32.6% 17.5%;
  --color-bank-muted-foreground: 215.4 16.3% 46.9%;
  --color-bank-muted-foreground-dark: 215 20.2% 65.1%;
  --color-bank-destructive: 0 84.2% 60.2%;
  --color-bank-destructive-dark: 0 62.8% 30.6%;
  --color-bank-destructive-foreground: 210 40% 98%;
  --color-bank-destructive-foreground-dark: 210 40% 98%;
  --color-bank-border: #fff;
  --color-bank-border-dark: #fff;
  --color-bank-input: 214.3 31.8% 91.4%;
  --color-bank-input-dark: 217.2 32.6% 17.5%;
  --color-bank-ring: 222.2 84% 4.9%;
  --color-bank-ring-dark: 212.7 26.8% 83.9%;
  --color-bank-defaults-gray: #e0e0e0;
  --color-bank-defaults-gray-dark: #575757;
  --color-bank-defaults-light-gray: #f8f8f8;
  --color-bank-defaults-light-gray-dark: #737373;
  --color-bank-defaults-green: #358a24;
  --color-bank-defaults-green-dark: #358a24;
  --color-bank-defaults-red: #f00606;
  --color-bank-defaults-red-dark: #f00606;

// Spacing
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 32px;
  --spacing-xl: 64px;
  --spacing-xxl: 128px;
  --spacing-radius: 8px;

// Font
  --font-families-primary: Rubik, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', serif;
  --font-families-secondary: Heebo, system-ui, -apple-system, 'Georgia', 'Times New Roman', 'Times', sans-serif;
  --font-sizes-h1: 6rem;
  --font-weight-h1: 300;
  --font-sizes-h2: 3.75rem;
  --font-weight-h2: 300;
  --font-sizes-h3: 3rem;
  --font-weight-h3: 400;
  --font-sizes-h4: 2.125rem;
  --font-weight-h4: 400;
  --font-sizes-h5: 1.5rem;
  --font-weight-h5: 400;
  --font-sizes-h6: 1.25rem;
  --font-weight-h6: 500;
  --font-sizes-subtitle1: 1rem;
  --font-weight-subtitle1: 400;
  --font-sizes-subtitle2: 0.875rem;
  --font-weight-subtitle2: 500;
  --font-sizes-body1: 1rem;
  --font-weight-body1: 400;
  --font-sizes-body2: 0.875rem;
  --font-weight-body2: 400;
  --font-sizes-button: 0.875rem;
  --font-weight-button: 500;
  --font-sizes-caption: 0.75rem;
  --font-weight-caption: 400;
  --font-sizes-overline: 0.625rem;
  --font-weight-overline: 400;

}
