.container {
  height: 100%;
  width: 100%;
  max-width: 100vw;
}

.header {
  display: flex;
  justify-content: center;
}

.logo {
  height: 200px;
  width: 200px;
}

.layout {
  display: flex;
  flex-wrap: wrap;
}

.layout > nav {
  width: 20%;
}

.layout > main {
  width: 80%;
}

.footer {
  width: 100%;
  height: 80px;
  color: white;
  padding: 48px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #30323c;
  border-left: none;
}

.footer_links {
  width: 40%;
  display: flex;
  justify-content: space-between
}

