@use "../../../../styles/partials/mixins";

.item {
  display: table-row;
  height: 80px;
  border-bottom: 1px solid var(--border-color);
  white-space: nowrap;

  &:hover {
    background: #171718;
    cursor: pointer;
  }

  & > p,
  td {
    text-align: center;
    margin: auto;
  }

  .coin {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80%;

    &ImageWrapper {
      height: 38px;
      width: 38px;
      margin-right: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &Info {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &InfoMobile {
      display: none;
    }

    &Stats {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  &Price,
  &DayVolume,
  &MarketCap,
  &RedPercent,
  &GreenPercent {
    transition: all 300ms ease;
    width: 16.25%;
    &.redpercent {
      color: #f00606;
    }
    &.greenpercent {
      color: #13c783;
    }
  }

  &PriceMobile,
  &DayVolumeMobile,
  &MarketCapMobile,
  &DayPriceChangeMobile {
    display: none; // Ensure these elements are not displayed normally
  }

  @include mixins.desktop {
    &MarketCap {
      display: none;
    }
  }

  @include mixins.tablet {
    &DayVolume {
      display: none;
    }
  }

  @include mixins.md {
    .coinCell {
      // Targeting the .coinCell specifically for mobile adjustments
      display: table-cell; // Keep it as table cell on mobile, ensuring it respects table layout
      .coin {
        display: flex;
        // justify-content: space-between;
        flex-direction: column;
        align-items: center;
        width: 100%;

        &ImageWrapper {
          margin: 0;
        }

        &Info {
          width: 30%;

          &Mobile {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }
        }

        // &Stats > .coinSymbol,
        // &Stats > .coinName {
        //   display: none;
        // }
      }
    }

    // Mobile-specific styles for content within .coinCell
    &PriceMobile,
    &DayVolumeMobile,
    &MarketCapMobile,
    &DayPriceChangeMobile {
      display: block; // Ensure these elements are displayed in a block layout
      text-align: center; // Center-align text for readability
      padding: 5px 0; // Add vertical padding for spacing between items
    }

    // Hide original desktop-specific data columns on mobile
    &Price,
    &DayVolume,
    &MarketCap,
    &DayPriceChange {
      display: none;
    }
  }
}

.highlight {
  background-color: yellow;
  color: black;
}
