@use "../../../../styles/partials/mixins";

.item {
  display: table-row;
  height: 80px;
  border-bottom: 1px solid var(--border-color);
  white-space: nowrap;

  &:hover {
    background: #171718;
    cursor: pointer;
  }

  & > p,
  td {
    text-align: center;
    margin: auto;
  }

  .coin {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80%;

    &Info {
      display: flex;
      flex-direction: column;
      align-items: center;

      &Mobile {
        display: none;
      }

      &ImageWrapper {
        height: 38px;
        width: 38px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    &MobileStats {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  &Price,
  &DayVolume,
  &MarketCap,
  &RedPercent,
  &GreenPercent {
    transition: all 300ms ease;
    width: 16.25%;
    &.redpercent {
      color: #f00606;
    }
    &.greenpercent {
      color: #13c783;
    }
  }

  &PriceMobile,
  &DayVolumeMobile,
  &MarketCapMobile,
  &DayPriceChangeMobile {
    display: none; // Ensure these elements are not displayed normally
  }

  @include mixins.desktop {
    &MarketCap {
      display: none;
    }
  }

  @include mixins.tablet {
    &DayVolume {
      display: none;
    }
  }

  @include mixins.md {
    .coinCell {
      // Targeting the .coinCell specifically for mobile adjustments
      .coin {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        padding: 24px 0;
        height: 280px;

        width: 100%;

        &Info {
          &ImageWrapper {
            margin-bottom: 8px;
          }

          &Mobile {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }
        }

        &MobileStats p b {
          line-height: 1.5;
          margin-bottom: 16px;
        }
      }
    }

    &PriceMobile,
    &DayVolumeMobile,
    &MarketCapMobile,
    &DayPriceChangeMobile {
      display: block;
      text-align: center;
      padding: 5px 0;
    }

    &Price,
    &DayVolume,
    &MarketCap,
    &DayPriceChange {
      display: none;
    }
  }
}

.highlight {
  background-color: yellow;
  color: black;
}
