.container {
  display: flex;
  list-style-type: none;
  margin: 44px 0;
  padding: 0;
  max-width: 100vw;
  overflow: hidden;
  justify-content: center;

  @media (max-width: 450px) {
    max-width: 80%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .item {
    padding: 0 12px;
    height: 32px;
    text-align: center;
    margin: auto 4px;
    color: white;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    letter-spacing: 0.01071em;
    border-radius: 16px;
    line-height: 1.43;
    font-size: 14px;
    min-width: 32px;
    transition: background-color 250ms ease;

    &:hover:not(.dots, .disabled) {
      background-color: rgba(255, 255, 255, 0.25);
      cursor: pointer;
    }

    &.dots:hover {
      cursor: text;
    }

    &.selected {
      background-color: #ff9500;
      cursor: default;
    }

    &.disabled {
      pointer-events: none;
      color: #aaa;

      &:hover {
        background-color: transparent;
      }

      // Additional styles for disabled arrows
      .arrow {
        color: #aaa; // Grayed out color for disabled arrows
        &::before {
          border-right: 0.12em solid #aaa; // Adjust color to match disabled state
          border-top: 0.12em solid #aaa;
        }
      }
    }
  }

  .arrow {
    color: #ff9500;

    &::before {
      content: "";
      display: inline-block;
      width: 0.4em;
      height: 0.4em;
      border-right: 0.12em solid currentColor;
      border-top: 0.12em solid currentColor;
    }

    &.left {
      transform: rotate(-135deg);
    }

    &.right {
      transform: rotate(45deg);
    }
  }
}
