@use "../../../styles/partials/mixins/breakpoints";
@use "../../../styles/partials/mixins/styles";

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 44px 0;

  @include breakpoints.tablet {
    justify-content: space-between;
  }

  .item {
    height: 32px;
    min-width: 32px;
    border-radius: 16px;
    font-size: var(--font-sizes-sm);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    transition: background-color 250ms ease;

    &:hover:not(.dots, .disabled) {
      background-color: rgba(255, 255, 255, 0.25);
      cursor: pointer;
    }

    &.dots:hover {
      cursor: text;
    }

    &.selected {
      background-color: var(--primary);
      cursor: default;
    }

    &.disabled {
      pointer-events: none;
      color: #aaa;

      &:hover {
        background-color: transparent;
      }

      // Additional styles for disabled arrows
      .arrow {
        border: solid #aaa; // Grayed out color for disabled arrows
        border-width: 0 1px 1px 0;
      }
    }
  }

  .arrowButton {
    @include styles.removeDefaultButtonStyles;
  }

  .arrow {
    border: solid var(--primary);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;

    &.left {
      transform: rotate(135deg);
      -webkit-transform: rotate(135deg);
      margin-left: 3px;
    }

    &.right {
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      margin-right: 3px;
    }
  }
}

.listContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  overflow: hidden;
  gap: 8px;
  min-width: 352px; // 32 (item width) x 11 (max number of items showing at once)

  @include breakpoints.tablet {
    gap: 0;
    min-width: auto;

    width: 65%;
    justify-content: space-evenly;
  }
}
