@use "./partials/reset";
@use "./partials/generatedCssVars";
@use "./partials/themeManager";
@use "./partials/mixins/breakpoints";

html {
  // Apply secondary font styles globally first since it will be used in most text (p, body text, etc)
  color: var(--colors-font-text-secondary);
  font-family: var(--font-families-secondary);
  line-height: var(--font-lineHeight-body);
  scroll-behavior: smooth;
}

body {
  background-color: var(--colors-background);
  color: var(--colors-foreground);
}

/* Set primary font color for headings and other main text elements */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--colors-font-text-primary);
  font-family: var(--font-families-primary);
}

/* Typography styles based on custom properties */
h1 {
  font-size: var(--font-sizes-h1);
  font-weight: var(--font-weight-h1);
  line-height: var(--font-lineHeight-h1);
}

h2 {
  font-size: var(--font-sizes-h2);
  font-weight: var(--font-weight-h2);
  line-height: var(--font-lineHeight-h2);
}

h3 {
  font-size: var(--font-sizes-h3);
  font-weight: var(--font-weight-h3);
  line-height: var(--font-lineHeight-h3);
}

h4 {
  font-size: var(--font-sizes-h4);
  font-weight: var(--font-weight-h4);
  line-height: var(--font-lineHeight-h4);
}

h5 {
  font-size: var(--font-sizes-h5);
  font-weight: var(--font-weight-h5);
  line-height: var(--font-lineHeight-h5);
}

h6 {
  font-size: var(--font-sizes-h6);
  font-weight: var(--font-weight-h6);
  line-height: var(--font-lineHeight-h6);
}

p,
td {
  font-size: var(--font-sizes-body);
  font-weight: var(--font-weight-body);
}

a:hover {
  color: var(--colors-primary);
}

.subtitle {
  font-size: var(--font-sizes-subtitle);
  font-weight: var(--font-weight-subtitle);
  line-height: var(--font-lineHeight-subtitle);
}

.caption {
  font-size: var(--font-sizes-caption);
  font-weight: var(--font-weight-caption);
  line-height: var(--font-lineHeight-caption);
}

.overline {
  font-size: var(--font-sizes-overline);
  font-weight: var(--font-weight-overline);
  line-height: var(--font-lineHeight-overline);
}

@include breakpoints.tablet {
  :root {
    /* Adjust font sizes for mobile readability */
    --font-sizes-h1: 4rem; /* Decrease from 5.5rem */
    --font-sizes-h2: 3rem; /* Decrease from 3.75rem */
    --font-sizes-h3: 2.25rem; /* Decrease from 3rem */
    // --font-sizes-h4: 1.875rem; /* Decrease from 2.125rem */
    // --font-sizes-h5: 1.25rem; /* Same as desktop */
    // --font-sizes-h6: 1.125rem; /* Decrease from 1.25rem */
  }
}
