@use "../../../styles/partials/mixins/breakpoints";

.carousel {
  height: 50%;
  min-height: 216.5px;
  display: flex;
  align-items: center;
  justify-content: center;

  &Item {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    overflow: show;
  }
}

.green {
  color: #13c783;
}

.red {
  color: #f00606;
}

.embla {
  overflow: hidden;

  &__container {
    display: flex;
  }

  &__slide {
    contain: layout;
    min-width: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    flex: 0 0 27%;

    @include breakpoints.xl {
      flex: 0 0 33.33%;
    }

    @include breakpoints.tablet {
      flex: 0 0 48%;
    }

    @include breakpoints.mobile {
      flex: 0 0 60%;
    }
  }
}
