.carousel {
  height: 50%;
  min-height: 216.5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel_item {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  overflow: show;
}

.green {
  color: #13c783;
}

.red {
  color: #f00606;
}
