.container {
  width: 85%;
  max-width: 1100px;
}

.header {
  width: 100%;
  display: flex;
  /* justify-content: center; */ 
  height: 64px;
  background-color: #ff9500;
  border-radius: 2px;
}

.header > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header > div > p {
  margin: 0;
  height: fit-content;
  text-align: center;
}

.header > div:nth-child(1) > p {
  text-align: left;
}

.name_header {
  width: 25%;
}

.name_header > p {
  width: 80%;
  padding-left: 24px;
}

.price_header {
  width: 16.25%;
}

.volume_header {
  width: 21.25%;
}

.dayChange_header {
  width: 16.25%;
}

.marketCap_header {
  width: 21.25%;
}

@media(max-width: 990px) {
  .name_header {
    width: 30%;
  }
  .price_header {
    width: 20%;
  }
  
  .volume_header {
    width: 20%;
  }
  
  .dayChange_header {
    width: 20%;
  }
  
  .marketCap_header {
    width: 20%;
  }
}

@media(max-width: 680px) {
  .header > div {
    margin: 0 auto;
  }

  .name_header {
    width: 50%;
    margin: 0 !important;
  }
}

@media(max-width:300px) {
  .header {
    justify-content: center;
  }

  .header > div > p {
    margin: 0;
  }
  .name_header {
    text-align: center;
    margin: 0;
  }
}