.itemRow {
  height: 80px;
  border-bottom: 1px solid var(--border-color);
  width: 100%;
  // max-width: 85%;
  padding: 0rem 2rem;

  &:hover {
    background: #171718;
    cursor: pointer;
  }

  & > p {
    text-align: center;
    margin: auto;
    // font-size: 17px;
  }

  td {
    text-align: center;
    // font-size: 17px;
  }
}

// .coin_wrapper {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   /* padding-right: 24px; */
//   min-width: 25%;
//   width: 25%;
// }

// .coin_wrapper > h1 {
//   font-size: 16px;
// }

.coin {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 80%;

  &__image_wrapper {
    height: 38px;
    min-height: 38px;
    width: 38px;
    min-width: 38px;
    margin: 0 10px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.name_wrapper > h1 {
  font-size: 16px;
  margin: 0;
}

.name_wrapper > p {
  font-size: 16px;
  margin: 0;
}

.symbol {
  text-transform: uppercase;
}

.data {
  display: flex;
  text-align: right;
  justify-content: space-between;
  width: 100%;
}

.price {
  min-width: 16.25%;
  width: 16.25%;
  transition: all 300ms ease;
}

.volume {
  min-width: 21.25%;
  width: 21.25%;
}

.market_cap {
  min-width: 21.25%;
  width: 21.25%;
}

.red_percent {
  min-width: 16.25%;
  width: 16.25%;
  color: #f00606;
}

.green_percent {
  min-width: 16.25%;
  width: 16.25%;
  color: #13c783;
}

@media (max-width: 990px) {
  .coin_wrapper {
    width: 30%;
    min-width: 30%;
  }

  .name {
    min-width: 30%;
    width: 30%;
  }

  .price {
    min-width: 17.5%;
    width: 17.5%;
  }

  .volume {
    min-width: 17.5%;
    width: 17.5%;
  }

  .dayChange {
    min-width: 17.5%;
    width: 17.5%;
  }

  .market_cap {
    min-width: 17.5%;
    width: 17.5%;
  }
}

@media (max-width: 680px) {
  .coin_wrapper {
    width: 45%;
  }

  .price {
    width: 27.5%;
  }

  .red_percent,
  .green_percent {
    width: 27.5%;
  }
}

@media (max-width: 380px) {
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    padding: 24px 0;
  }

  .image_wrapper {
    margin: 0 0 8px 0;
  }

  .coin {
    flex-direction: column;
  }

  .coin_wrapper,
  .coin {
    min-width: 100%;
    justify-content: center;
    align-items: center;
  }

  .name_wrapper {
    text-align: center;
    width: 90%;
  }

  .name_wrapper > p,
  .name_wrapper > h1 {
    font-size: 7vw;
    margin: 0;
  }
  .price {
    font-size: 5vw;
    width: 70%;
  }

  .red_percent,
  .green_percent {
    font-size: 5vw;
    width: 70%;
  }
}
