.container {
  display: flex;
  justify-content: center;
}

.row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid #2e2e2e;
  width: 1000px;
  max-width: 85%;
  padding: 0rem 2rem;
}

.row:hover {
  background: #171718;
}

.coin {
  display: flex;
  align-items: center;
  padding-right: 24px;
}

.coin > h1 {
  font-size: 16px;
  width: 150px;
}

.image {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.symbol {
  text-transform: uppercase;
}

.data {
  display: flex;
  text-align: right;
  justify-content: space-between;
  width: 100%;
}

.price {
  width: 110px
}

.volume {
  width: 155px
}

.market_cap {
  width: 230px;
}

.red_percent {
  width: 100px;
  color: #f00606;
}

.green_percent {
  width: 100px;
  color: #13c783;
}
