.container {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgba(204, 204, 204, 0.555);
  height: 70px;
  cursor: pointer;
  transition: all 100ms ease;
}

.container:hover {
  background-color: rgb(36, 34, 34);
}

.container > p {
  text-align: center;
  margin: auto;
}

.row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid #2e2e2e;
  /* width: 1000px; */
  max-width: 85%;
  padding: 0rem 2rem;
}

.row:hover {
  background: #171718;
}

.coin_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding-right: 24px; */
  width: 25%;
}

.coin_wrapper > h1 {
  font-size: 16px;
}

.coin {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
}

.name_wrapper > h1 {
  font-size: 16px;
  margin: 0;
}

.name_wrapper > p {
  font-size: 16px;
  margin: 0;
}

.image {
  height: 38px;
  width: 38px;
  margin-right: 10px;
}

.symbol {
  text-transform: uppercase;
}

.data {
  display: flex;
  text-align: right;
  justify-content: space-between;
  width: 100%;
}

.price {
  width: 20%;
  transition: all 300ms ease;
}

.volume {
  width: 20%;
}

.market_cap {
  width: 20%;
}

.red_percent {
  width: 20%;
  color: #f00606;
}

.green_percent {
  width: 20%;
  color: #13c783;
}

@media(max-width: 990px) {

  .coin_wrapper {
    width: 30%;
  }

  .name_header {
    width: 30%;
  }

  .price_header {
    width: 20%;
  }
  
  .volume_header {
    width: 20%;
  }
  
  .dayChange_header {
    width: 20%;
  }
  
  .marketCap_header {
    width: 20%;
  }
}

@media(max-width: 680px) {

  .coin_wrapper {
    width: 50%;
  }

  /* .coin {
    width: 80%;
  } */
  
  .price {
    width: 25%;
  }

  .red_percent, .green_percent {
    width: 25%;
  }
}

@media(max-width: 370px) {

  .name_wrapper > p, .name_wrapper > h1{
    font-size: 4vw;
  }
  .price {
    font-size: 4vw;
  }

  .red_percent, .green_percent {
    font-size: 4vw;
  }
}

@media(max-width: 300px) {
  .container {
    flex-direction: column;
    height: fit-content;
    padding: 24px 0;
  }

  .image {
    margin: 0 0 8px 0;
  }

  .coin {
    flex-direction: column;
  }

  .coin_wrapper, .coin {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .name_wrapper {
    text-align: center;
    width: 90%;
  }

  .name_wrapper > p, .name_wrapper > h1{
    font-size: 7vw;
    margin: 0;
  }
  .price {
    font-size: 5vw;
    width: 70%;
  }

  .red_percent, .green_percent {
    font-size: 5vw;
    width: 70%;
  }
}