@use "./Carousel.module.scss";

.itemSkeleton {
  @extend .carousel_item; // Extend the main carousel item styles for consistency
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
