.container {
  width: 100vw;
  max-width: 1440px;
  min-height: calc(100vh - 74px);
  height: calc(100vh - 74px);
  /* height: fit-content; */
}

.row {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 24px 0;
  & > hr {
    display: inline-block;
    width: 1px;
    height: calc(100vh - 148px);
    margin: auto 0;
    border-color: var(--colors-primary);
  }
}

.coin_info {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  min-height: calc(100vh - 160px);
  gap: 24px;
  height: 100%;
  padding: 24px;
  width: 30%;
  color: white;
  margin: auto 0;
  background-color: var(--colors-card-bg);
  box-shadow: 0 4px 12px 0px rgba(0, 0, 0, 0.3);
  transition: all 300ms ease;
}

.backArrow {
  position: absolute;
  top: 32px;
  left: 32px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // margin-bottom: 8px;
  /* width: 400px; */
}

.title_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 12px;

  & > h1 {
    font-size: var(--font-sizes-h2);
  }

  & > p {
    font-size: var(--font-sizes-h5);
  }
}

.description {
  width: 100%;
  text-align: center;
  /* margin-bottom: 12px; */
}

.description > p {
  font-size: 15px;
}

.name {
  margin: 8px 0 0 0;
  line-height: 1;
}

.symbol {
  margin: 0;
}

.ticker {
  margin-bottom: 1rem;
}

.current {
  margin-bottom: 1rem;
  font-size: 2rem;
}

.info_card {
  /* margin-top: 24px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* padding: 16px; */
  /* border-radius: 8px; */
  /* background-color: var(--colors-card-bg);
  box-shadow: 0 4px 12px 0px rgba(0, 0, 0, 0.3); */
}

.back_link {
  position: absolute;
  top: 16px;
  left: 24px;
  font-size: 36px;
  width: 36px;
  cursor: pointer;
  transition: all 300ms ease;
}

.back_link:hover {
  color: var(--colors-primary);
  transform: scale(1.05);
}

.back_link:active {
  transform: scale(0.97);
}

.info_row {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin-top: 16px;
}

.info_row > h3,
.info_row > p {
  text-align: center;
  margin: 0;
  width: 100%;
}

.info_row > h3 {
  margin-right: 16px;
  font-size: 16px;
}

.info_row > p {
  font-size: 16px;
}
