.carousel {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel_item {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important; 
  align-items: center !important;
}

.carousel > div {
  /* width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; */
}

/* .carousel > div {

} */

/* .carousel_wrapper > ul > li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.alice-carousel__stage-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.alice-carousel__stage-item > div > h6 {
  margin: 0;
  font-size: 22px;
} */

.green {
  color: #13c783;
}

.red {
  color: #f00606;
}