.container {
  width: 100vw;
  background-image: url(../../../../public/BannerPic.png);
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner {
  min-height: fit-content;
  min-height: 400px;
  padding: 24px 0 40px 0;
  /* padding: 40px 0; */
  width: 100%;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.title_wrapper {
  text-align: center;
  margin-top: 24px;
}

.title_wrapper > h2 {
  font-size: 64px;
  margin: 10px;
  font-weight: 500;
}

.title_wrapper > p {
  font-size: 18px;
  margin: 0;
}

.orange {
  color: #ff9500;
  font-weight: 700;
}