@use "../../../styles/partials/mixins/breakpoints";

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.content {
  height: 496px;
  width: 100%;
  padding: 24px 0 40px 0;

  position: relative; /* Ensure this content sits above the background image */
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  &__text {
    text-align: center;

    @include breakpoints.tablet {
      // & > h1 {
      // }

      // & > h6 {
      // }
    }
  }
}

.primary {
  color: var(--colors-primary);
  font-weight: 700;
}
