.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 48px;
  color: #fff;
}

.container > h1 {
  text-align: center;
  width: 100%;
  margin-bottom: 64px;
}