.container {
  width: 100vw;
  max-width: 1440px;
  min-height: calc(100vh - 74px);
  height: calc(100vh - 74px);
  /* height: fit-content; */
}

.row {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 24px 0;
}

.row > hr {
  display: inline-block;
  width: 1px;
  height: calc(100vh - 148px);
  margin: auto 0;
  border-color: #ff9500;
}

.coin_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  min-height: calc(100vh - 160px);
  height: 100%;
  /* max-height: calc(100vh - 160px); */
  padding: 24px;
  width: 30%;
  color: white;
  margin: auto 0;
  background-color: rgba(0, 0, 0, 0.377);
  box-shadow: 0 4px 12px 0px rgba(0, 0, 0, 0.3);
  position: relative;
  transition: all 300ms ease;
  /* border-bottom: 3px solid rgba(0, 0, 0, 0.08); */
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  /* width: 400px; */
}

.title_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.description {
  width: 100%;
  text-align: center;
  /* margin-bottom: 12px; */
}

.description > p {
  font-size: 15px;
}

.name {
  margin: 8px 0 0 0;
  line-height: 1;
}

.symbol {
  margin: 0;
}

.ticker {
  margin-bottom: 1rem;
}

.current {
  margin-bottom: 1rem;
  font-size: 2rem;
}

.info_card {
  /* margin-top: 24px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* padding: 16px; */
  /* border-radius: 8px; */
  /* background-color: rgba(0, 0, 0, 0.377);
  box-shadow: 0 4px 12px 0px rgba(0, 0, 0, 0.3); */
}

.back_link {
  position: absolute;
  top: 16px;
  left: 24px;
  font-size: 36px;
  width: 36px;
  cursor: pointer;
  transition: all 300ms ease;
}

.back_link:hover {
  color: #ff9500;
  transform: scale(1.05);
}

.back_link:active {
  transform: scale(0.97);
}

.info_row {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin-top: 16px;
}

.info_row > h3,
.info_row > p {
  text-align: center;
  margin: 0;
  width: 100%;
}

.info_row > h3 {
  margin-right: 16px;
  font-size: 16px;
}

.info_row > p {
  font-size: 16px;
}

.chart_wrapper {
  width: 60%;
  /* max-height: 100vh; */
  min-height: calc(100vh - 160px);
  height: 100%;
  /* height: calc(100vh - 160px); */
  /* max-height: calc(100vh - 160px); */
  /* overflow: hidden; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: auto 0;
}

.chart_card {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 24px 12px 24px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.377);
  box-shadow: 0 4px 12px 0px rgba(0, 0, 0, 0.3);
}

.chart {
  width: 100%;
  height: 100%;
}

.chart_buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* margin-top: 24px; */
}

.chart_buttons > button {
  width: 23%;
  max-width: 23%;
  text-align: center;
  padding: 12px 8px;
  border: 3px solid #ff9500;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  background-color: transparent;
  transition: all 300ms ease;
}
.chart_buttons > button:active {
  transform: scale(0.95);
}

.selected_button {
  border: 3px solid white !important;
  background-color: #ff9500 !important;
}

.chart_buttons > button:hover {
  border: 3px solid white;
  background-color: #ff9500;
}

.chart_details {
  background-color: rgba(0, 0, 0, 0.377);
  border-radius: 8px;
  margin-top: 32px;
  padding: 24px 0;
  width: 100%;
  box-shadow: 0 4px 12px 0px rgba(0, 0, 0, 0.3);
}

.chart_details > div {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  color: whitesmoke;
  display: flex;
  justify-content: center;
}

.chart_details > div > p {
  margin: 0.25rem;
  width: 40%;
  text-align: center;
}

.percentage_details {
  width: 100%;
  /* margin-top: 32px; */
}

.percentage_details > h3 {
  text-align: center;
  color: white;
  padding-bottom: 16px;
}

.cards_wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.cards_wrapper > div {
  border: 3px solid black;
  background-color: black;
  border-radius: 6px;
  width: 23%;
  max-width: 23%;
  text-align: center;
  transition: all 300ms ease;
  box-shadow: 0 4px 12px 0px rgba(0, 0, 0, 0.4);
  height: 97px;
}

.cards_wrapper > div:hover {
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.6);
}

.card_description {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.card_description > p {
  margin: 0;
  color: white;
  transition: all 300ms ease;
}

.card_description > h3 {
  margin: 0;
  font-size: 28px;
  transition: all 300ms ease;
}

.selected_card {
  border: 3px solid #fff !important;
  background-color: #ff9500 !important;
}

.selected_card > div > p {
  font-weight: bold;
  color: white;
}

.selected_period {
  background-color: rgb(39, 39, 39);
}

.selected_period > p:first-child {
  color: white;
}

.green {
  color: #358a24;
}

.red {
  color: #f00606;
}

@media (max-width: 1250px) {
  .row {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 48px 0;
  }

  .coin_info {
    height: fit-content;
    max-height: none;
    min-height: auto;
    width: 55%;
    padding: 64px 40px;
  }

  .info_row > h3 {
    width: 40%;
    margin: 0;
    font-size: 15px;
  }

  .info_row > p {
    width: 40%;
    font-size: 15px;
  }

  .back_link {
    top: 16px;
    left: 16px;
  }

  .container {
    height: fit-content;
  }

  .row > hr {
    display: inline-block;
    width: 80%;
    height: auto;
    margin: 24px 0;
    border-color: #ff9500;
  }

  .chart_wrapper {
    width: 80%;
    max-height: none;
    min-height: auto;
    height: fit-content;
  }

  .chart_buttons {
    margin-top: 16px;
  }

  .percentage_details {
    margin-top: 24px;
  }
}

@media (max-width: 850px) {
  .coin_info {
    width: 70%;
  }

  .chart_wrapper {
    width: 80%;
  }

  .card_description > h3 {
    font-size: 24px;
  }
}

@media (max-width: 700px) {
  .coin_info {
    padding: 40px 24px;
  }

  .card_description > h3 {
    font-size: 14px;
  }

  .card_description > p {
    font-size: 12px;
    width: 100%;
  }

  .header {
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }

  .description {
    width: 70%;
    margin-left: 16px;
  }

  .description > p {
    font-size: 15px;
  }

  .back_link {
    top: 10px;
    font-size: 28px;
    width: 28px;
  }
}

@media (max-width: 615px) {
  .coin_info {
    width: 90%;
  }

  .chart_wrapper {
    width: 90%;
  }
}

@media (max-width: 550px) {
  .coin_info {
    width: 95%;
  }

  .info_row {
    width: 85%;
    /* font-size: 12px; */
  }

  .chart_wrapper {
    width: 95%;
  }

  .cards_wrapper {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 32vh;
  }

  .cards_wrapper > div {
    width: 90%;
    max-width: none;
    height: 20%;
  }

  .description {
    font-size: 14px;
  }

  .chart_card {
    padding: 8px 8px 12px 8px;
  }

  .name {
    text-align: center;
  }
}

@media (max-width: 450px) {
  .info_row {
    width: 100%;
  }

  .info_row > h3 {
    width: 60%;
    font-size: 14px;
  }

  .info_row > p {
    width: 40%;
    font-size: 14px;
  }

  .header {
    flex-direction: column;
  }

  .description {
    width: 100%;
  }

  .chart > canvas {
    width: 100%;
    /* height: 300px !important; */
  }
}

@media (max-width: 335px) {
  .info_row > h3 {
    font-size: 12px;
  }

  .info_row > p {
    font-size: 12px;
  }

  .description {
    width: 100%;
  }

  .chart_buttons > button {
    font-size: 12px;
  }
}
