.chart_wrapper {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.chart_card {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 24px 12px 24px;
  border-radius: 8px;
  background-color: var(--colors-card-bg);
  box-shadow: 0 4px 12px 0px rgba(0, 0, 0, 0.3);
}

.chart_details {
  background-color: var(--colors-card-bg);
  border-radius: 8px;
  margin-top: 32px;
  padding: 24px 0;
  width: 100%;
  box-shadow: 0 4px 12px 0px rgba(0, 0, 0, 0.3);

  & > div {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    color: whitesmoke;
    display: flex;
    justify-content: center;
  }

  & > div > p {
    margin: 0.25rem;
    width: 40%;
    text-align: center;
  }
}

.chart_actions {
  width: 100%;
  display: flex;
}

.chart_action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 25%;
  transition:
    border-color 300ms ease,
    background-color 300ms ease;

  > button {
    width: fit-content;
    font-size: var(--font-sizes-h6);
    transition: color 125ms ease;

    &:hover {
      color: var(--colors-primary);
    }
  }

  > div {
    width: 100%;
    border: 3px solid transparent;
    border-radius: 6px;
    padding: 6px;
  }
}

.cards_wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.card_description {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  &Title {
    margin: 0;
    color: white;
    transition: all 300ms ease;
  }
}

.selected_action {
  color: var(--colors-primary) !important;
}

.selected_card {
  border: 3px solid #fff !important;
  background-color: var(--colors-primary) !important;

  & > .card_descriptionTitle {
    font-weight: bold;
    color: white;
  }
}

.selected_period {
  background-color: rgb(39, 39, 39);

  & > p:first-child {
    color: white;
  }
}

.green {
  color: var(--colors-defaults-green);
}

.red {
  color: var(--colors-defaults-red);
}

@media (max-width: 1250px) {
  .coin_info {
    height: fit-content;
    max-height: none;
    min-height: auto;
    width: 55%;
    padding: 64px 40px;
  }

  .info_row > h3 {
    width: 40%;
    margin: 0;
    font-size: 15px;
  }

  .info_row > p {
    width: 40%;
    font-size: 15px;
  }

  .back_link {
    top: 16px;
    left: 16px;
  }

  .container {
    height: fit-content;
  }

  .row > hr {
    display: inline-block;
    width: 80%;
    height: auto;
    margin: 24px 0;
    border-color: var(--colors-primary);
  }

  .chart_wrapper {
    width: 80%;
    max-height: none;
    min-height: auto;
    height: fit-content;
  }

  .chart_buttons {
    margin-top: 16px;
  }

  .chart_actions {
    margin-top: 24px;
  }
}

@media (max-width: 850px) {
  .coin_info {
    width: 70%;
  }

  .chart_wrapper {
    width: 80%;
  }

  .card_description > h3 {
    font-size: 24px;
  }
}

@media (max-width: 700px) {
  .coin_info {
    padding: 40px 24px;
  }

  .card_description > h3 {
    font-size: 14px;
  }

  .card_description > p {
    font-size: 12px;
    width: 100%;
  }

  .header {
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }

  .description {
    width: 70%;
    margin-left: 16px;
  }

  .description > p {
    font-size: 15px;
  }

  .back_link {
    top: 10px;
    font-size: 28px;
    width: 28px;
  }
}

@media (max-width: 615px) {
  .coin_info {
    width: 90%;
  }

  .chart_wrapper {
    width: 90%;
  }
}

@media (max-width: 550px) {
  .coin_info {
    width: 95%;
  }

  .info_row {
    width: 85%;
    /* font-size: 12px; */
  }

  .chart_wrapper {
    width: 95%;
  }

  .cards_wrapper {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 32vh;
  }

  .cards_wrapper > div {
    width: 90%;
    max-width: none;
    height: 20%;
  }

  .description {
    font-size: 14px;
  }

  .chart_card {
    padding: 8px 8px 12px 8px;
  }

  .name {
    text-align: center;
  }
}

@media (max-width: 450px) {
  .info_row {
    width: 100%;
  }

  .info_row > h3 {
    width: 60%;
    font-size: 14px;
  }

  .info_row > p {
    width: 40%;
    font-size: 14px;
  }

  .header {
    flex-direction: column;
  }

  .description {
    width: 100%;
  }

  .chart > canvas {
    width: 100%;
    /* height: 300px !important; */
  }
}

@media (max-width: 335px) {
  .info_row > h3 {
    font-size: 12px;
  }

  .info_row > p {
    font-size: 12px;
  }

  .description {
    width: 100%;
  }

  .chart_buttons > button {
    font-size: 12px;
  }
}
