@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;600;700&family=Rubik:wght@400;600;700&display=swap');

h1, h2, h3, h4, h5, h6 {
  font-family: 'Rubik', sans-serif;
}

p, span {
  font-family: 'Heebo', sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #1a1b1d;
  /* background-color: #141416; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}




/* Carousel couldnt be edited in it's css file  */
.alice-carousel__stage-item,
.alice-carousel__stage-item__active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.alice-carousel__stage-item {
  padding: 8px 24px;
  display: inline-flex !important;
  justify-content: center;
  align-items: center;
}

.alice-carousel__stage-item > div {
  overflow: visible !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px;
  overflow: visible !important;
  height: fit-content !important;
  width: fit-content !important;
  margin-top: 48px;
  /* width: fit-content !important; */
}

.alice-carousel__stage-item > div {
  overflow: visible !important;
  height: fit-content !important;
  width: fit-content !important;
}

.alice-carousel__stage-item > div > span > img {
  cursor: pointer;
  transition: all 200ms ease;
}

.alice-carousel__stage-item > div > span > img:hover {
  transform: scale(1.1);
}

.alice-carousel__stage-item > div > span > img:active {
  transform: scale(0.97);
}

.alice-carousel__stage-item > div > span > h6 {
  margin: 0;
  font-size: 26px;
  font-weight: 600;
}

.alice-carousel__stage-item > div > span > p {
  margin: 18px 0 0 0;
}




/* Currency Select Dropdown */

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 8px 15px;
}

.css-hfutr2-MuiSvgIcon-root-MuiSelect-icon {
  color: white !important;
}

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root:hover {
  background-color: #ff9500;
}

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root.Mui-selected:hover {
  background-color: #ff9500;
}

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root.Mui-selected {
  background-color: #ff950094 !important;
}

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root.Mui-selected:hover {
  background-color: #ff9500d8;
}





/* Nprogress bar css */
#nprogress {
  --primary-color: #ff9500;
  pointer-events: none;
}

#nprogress .bar {
  background: var(--primary-color);
  position: fixed;
  z-index: 1031;
  /* top: 74px; */
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  transition: all 300ms ease;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px var(--primary-color), 0 0 5px var(--primary-color);
  opacity: 1;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
  transition: all 300ms ease;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  border: solid 2px transparent;
  border-top-color: var(--primary-color);
  border-left-color: var(--primary-color);
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.errorClass {
  color: "red";
  background-color: green;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}


@media(max-width: 320px) {
  .css-hfutr2-MuiSvgIcon-root-MuiSelect-icon {
    display: none !important;
  }
}