html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  background-color: #141416;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}




/* Carousel couldnt be edited in it's css file  */

.alice-carousel__stage-item, .alice-carousel__stage-item__active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.alice-carousel__stage-item {
  padding: 8px 24px;
}

.alice-carousel__stage-item > div {
  overflow: visible !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px;
  /* width: fit-content !important; */
}

.alice-carousel__stage-item > div > span {
  overflow: visible !important;
  height: fit-content !important;
  width: fit-content !important;
}

.alice-carousel__stage-item > div > span > img {
  cursor: pointer;
  transition: all 200ms ease;
}

.alice-carousel__stage-item > div > span > img:hover {
  transform: scale(1.1);
}

.alice-carousel__stage-item > div > span > img:active {
  transform: scale(0.97);
}

.alice-carousel__stage-item > div > h6 {
  margin: 0;
  font-size: 24px;
}

.alice-carousel__stage-item > div > p { 
  margin: 18px 0 0 0;
}

