@use "../../../styles/partials/mixins";

.list {
  width: 90%;
  max-width: 1200px;
  margin-top: 18px;

  // &__title {
  //   // Styles for the title
  // }

  // &__search {
  //   // Styles for the search input
  // }

  &__body {
    min-height: 864px; // 80 * 10 items, + 64 header, + 120 Pagination height
  }
}

.table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 6px 6px 0 0;
  background-color: var(--card-bg);

  &__head {
    height: 64px;
    background-color: var(--primary);

    tr > th {
      &:first-child {
        border-top-left-radius: 6px;
      }
      &:last-child {
        border-top-right-radius: 6px;
      }
      text-align: center;
      padding-left: 24px;
    }

    &-cell {
      text-align: center;
      padding-left: 24px;

      &__name {
        width: 25%;
      }
      &__price {
        width: 16.25%;
      }
      &__volume {
        width: 21.25%;
      }
      &__change {
        width: 16.25%;
      }
      &__marketCap {
        width: 21.25%;
      }

      @include mixins.desktop {
        &__name {
          width: 30%;
        }
        &__price {
          width: 17.5%;
        }
        &__volume {
          width: 17.5%;
        }
        &__change {
          width: 17.5%;
        }
        &__market-cap {
          display: none;
        }
      }

      @include mixins.tablet {
        &__volume {
          display: none;
        }
      }

      @include mixins.md {
        &__change {
          display: none;
        }
      }
    }
  }
}

.emptystate {
  text-align: center;
  padding: 20px;
  color: var(--font-text-secondary);
  font-size: 1.25rem;
  border-bottom: 1px solid var(--border-color);
}
