@use "../../../styles/partials/mixins/breakpoints";

.list {
  width: 90%;
  max-width: 1200px;
  margin-top: 18px;

  // &Head {
  // height: 120px;
  // }

  &Title {
    text-align: center;
  }

  // &Search {

  // }

  &Actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
    padding: 24px 38px 24px 0;

    @include breakpoints.mobile {
      flex-direction: column;
      padding: 24px 0 32px 0;
      gap: 32px;
    }
  }

  &Body {
    min-height: 864px; // 80 * 10 items, + 64 header, + 120 Pagination height
  }

  &Table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 6px 6px 0 0;
    background-color: var(--card-bg);
    table-layout: fixed;

    &Head {
      height: 64px;
      background-color: var(--primary);

      tr > th {
        text-align: center;

        &:last-child {
          border-top-right-radius: 6px;
        }

        &:first-child {
          text-align: left;
          border-top-left-radius: 6px;
        }
      }

      &Cell {
        &Coin {
          padding-left: 54px;
          width: 25%;
        }
        &Price {
          width: 16.25%;
        }
        &Volume {
          width: 21.25%;
        }
        &Change {
          width: 16.25%;
        }
        &Market_Cap {
          width: 21.25%;
        }

        @include breakpoints.xxl {
          &Coin {
            width: 30%;
          }
          &Price {
            width: 17.5%;
          }
          &Volume {
            width: 17.5%;
          }
          &Change {
            width: 17.5%;
            border-top-right-radius: 6px;
          }
          &Market_Cap {
            display: none;
          }
        }

        @include breakpoints.xl {
          &Volume {
            display: none;
          }
        }

        @include breakpoints.tablet {
          &Coin {
            padding-left: 0;
            text-align: center !important;
            border-top-right-radius: 6px;
          }

          &Change,
          &Price {
            display: none;
          }
        }
      }
    }
  }
}

.emptyState {
  text-align: center;
  padding: 20px;
  color: var(--font-text-secondary);
  font-size: 1.25rem;
  border-bottom: 1px solid var(--border-color);
}
