.container {
  width: 90%;
  max-width: 1200px;
  margin-top: 18px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 6px 6px 0 0; // Combined border-radius for top-left and top-right
  background-color: var(
    --card-bg
  ); // Utilizes CSS variable for background color

  thead {
    height: 64px;
    background-color: var(--primary);

    // Optimized selector for first and last child with shared properties
    tr > th {
      &:first-child {
        border-top-left-radius: 6px;
      }
      &:last-child {
        border-top-right-radius: 6px;
      }
    }
  }

  // Consolidated header styles with shared properties
  .nameHeader,
  .priceHeader,
  .volumeHeader,
  .dayChangeHeader,
  .marketCapHeader {
    text-align: center;
    padding-left: 24px; // Specific for .nameHeader, but will not affect center alignment of others

    // Responsive adjustments for headers
    @media (max-width: 990px) {
      width: 17.5%;
      &:first-child {
        width: 30%;
      } // .nameHeader specific adjustment
    }
  }

  // Specific width adjustments for better clarity and maintainability
  .nameHeader {
    width: 25%;
  }
  .priceHeader,
  .dayChangeHeader {
    width: 16.25%;
  }
  .volumeHeader,
  .marketCapHeader {
    width: 21.25%;
  }
}

// Media queries optimized for mobile views
@media (max-width: 680px) {
  .table thead th {
    display: none; // Default state for all headers
    &:first-child {
      display: block; // Ensuring the first child is visible and adjusted
      width: 100%;
    }
  }
}

@media (max-width: 380px) {
  .table thead th {
    display: none; // Hide all headers for smallest view
    &:first-child {
      display: flex; // Keep the first header visible
      justify-content: center; // Center content
      text-align: center; // Ensure text alignment is centered
      width: 100%; // Full width for visibility
    }
  }
}
